<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 w-90 lg:w-full">
    <div class="flex py-3 justify-between items-center self-stretch">
        <img src="../../../public/images/arrow-left.svg">
        <p class="text-base font-bold text-neutral-50 mr-40">Edit profile</p>
        <button class="font-bold bg-neutral-50 text-neutral-1000 backdrop-blur-xl rounded-3.2xl py-2 px-5 inline-flex  text-center w-22 h-8 text-sm hover:bg-neutral-200 disabled:bg-neutral-200 disabled:opacity-50">
            Save
        </button>
    </div>
    <img src="../../../public/images/image 18.png" class="w-90">
    <div class="flex justify-center gap-3 -mt-24">
        <img src="../../../public/images/material-symbols_add-a-photo-outline.svg">
        <img src="../../../public/images/x.svg">
    </div>
    <img src="../../../public/images/User avatar.png" class="w-20 h-20 ml-2.5">
    <img src="../../../public/images/material-symbols_add-a-photo-outline.svg" class="ml-10 -mt-14 w-6 h-6">
    <fieldset class="flex w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-8 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
        <legend class="text-neutral-500">Name</legend>
        <input type="text" value="anuja agarwal" class="bg-neutral-1000 outline-none text-neutral-50">
    </fieldset>
    <fieldset class="h-24 flex w-88 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-5 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
        <legend class="text-neutral-500">Bio</legend>
        <textarea class="bg-neutral-1000 outline-none text-neutral-50 w-full" row="10">Fullstack Engineer@100x Engineers, loves to read books and in building good habits.</textarea>
    </fieldset>
    <fieldset class="flex w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-4 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
        <legend class="text-neutral-500">Location</legend>
        <input type="text" placeholder="Location" class="bg-neutral-1000 outline-none text-neutral-700">
    </fieldset>
    <fieldset class="flex w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-4 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
        <legend class="text-neutral-500">Website</legend>
        <input type="text" placeholder="Website" class="bg-neutral-1000 outline-none text-neutral-700">
    </fieldset>

</body>
</html>