<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 w-90 lg:w-full">
    <div>
        <heaader>
            <img src="../../../public/images/image 17.png">
        </heaader>
        <div class="inline-flex justify-center items-center gap-40 ml-5">
            <img src="../../../public/images/User avatar.png" class="w-16 h-16 -mt-10">
            <button class="text-neutral-50 py-2 px-5 rounded-3.2xl border border-solid border-stroke mt-2 ml-4">Edit profile</button>
        </div>
        <h1 class="text-neutral-50 text-xl font-bold ml-5">anuja agarwal</h1>
        <p class="text-sm font-normal text-neutral-500 ml-5">@anujaagarwal</p>
        <p class="text-base font-normal text-neutral-50 ml-5 mt-4">Fullstack Engineer@100x Engineers, loves to read books and in building good habits.</p>
        <div class="gap-5 flex ml-5 mt-4">
            <div class="flex">
                <img src="../../../public/images/Link Icon.svg">
                <a href="https://anujaagarwal.github.io/100xResume/" class="text-twitter-blue">resume</a>
            </div>
            <div class="flex">
                <img src="../../../public/images/Calendar Icon.svg">
                <p class="text-neutral-500 text-base font-normal">Joined September 2018</p>
            </div>
        </div>

        <div class="gap-5 flex ml-5 mt-4">
            <div class="flex gap-1">
                <p class="text-neutral-50">217</p>
                <a class="text-neutral-500">Following</a>
            </div>
            <div class="flex gap-1">
                <p class="text-neutral-50">118</p>
                <a class="text-neutral-500">Followers</a>
            </div>
        </div>
        <div class="flex w-90 py-2 px-4 items-start gap-4 border-b border-solid border-neutral-700">
            <img src="../../../public/images/User avatar3.png">
            <div>
                <div class="flex gap-2 items-center">
                    <h2 class="text-base font-medium text-neutral-50">Saurav Agarwal</h2>
                    <p class="text-neutral-500">@sauravagarwal 10h</p>
                </div>
                <div>
                    <p class="text-neutral-50 text-base font-normal leading-normal">
                        Don't wish for it, work for it.
                    </p>
                </div>
                <div class="flex py-3 justify-between items-center self-stretch mt-8">
                    <div class="flex">
                        <img src="../../../public/images/comment.svg">
                        <p class="text-neutral-500">11</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Group 26840.png">
                        <p class="text-neutral-500">278</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/heart.svg">
                        <p class="text-neutral-500">1,869</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Frame 27042.png">
                        <p class="text-neutral-500">99.5K</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Vector.svg">
                        <p class="text-neutral-500"></p>
                    </div>
    
                </div>
    
            </div>
        </div>

        <div class="flex w-90 py-2 px-4 items-start gap-4 border-b border-solid border-neutral-700">
            <img src="../../../public/images/User avatar 2.png">
            <div>
                <div class="flex gap-2 items-center">
                    <h2 class="text-base font-medium text-neutral-50">Kanishka Burnwal</h2>
                    <p class="text-neutral-500">@kanishka2042 10h</p>
                </div>
                <div>
                    <p class="text-neutral-50 text-base font-normal leading-normal">
                        i've seen people absolutely despise auto layout in figma but i think it's a lifesaver-
                        1. tidies everything nice and compact
                        2. makes responsive design effortless
                        3. no manual adjustments post any tweaks
                        4. saves a tonnn of time
                        
                        sorry, but will stay an auto layout maxi all life.
                    </p>
                </div>
                <div class="flex py-3 justify-between items-center self-stretch mt-8">
                    <div class="flex">
                        <img src="../../../public/images/comment.svg">
                        <p class="text-neutral-500">11</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Group 26840.png">
                        <p class="text-neutral-500">278</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/heart.svg">
                        <p class="text-neutral-500">1,869</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Frame 27042.png">
                        <p class="text-neutral-500">99.5K</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Vector.svg">
                        <p class="text-neutral-500"></p>
                    </div>
    
                </div>
    
            </div>
        </div>

        <div class="flex w-90 py-2 px-4 items-start gap-4 border-b border-solid border-neutral-700">
            <img src="../../../public/images/User avatar1.png">
            <div>
                <div class="flex gap-2 items-center">
                    <h2 class="text-base font-medium text-neutral-50">Anuja Agarwal</h2>
                    <p class="text-neutral-500">@anujaagarwal 10h</p>
                </div>
                <div>
                    <p class="text-neutral-50 text-base font-normal leading-normal">
                        Writing gets easier after the first sentence.
                        Lifting gets easier after the first set.
                        People think and think and think until they finally decide to act. 
                        Their attention shifts from internal to external, and the difficulty they created in their mind vanishes.
                    </p>
                </div>
                <div class="flex py-3 justify-between items-center self-stretch mt-8">
                    <div class="flex">
                        <img src="../../../public/images/comment.svg">
                        <p class="text-neutral-500">11</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Group 26840.png">
                        <p class="text-neutral-500">278</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/heart.svg">
                        <p class="text-neutral-500">1,869</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Frame 27042.png">
                        <p class="text-neutral-500">99.5K</p>
                    </div>
                    <div class="flex">
                        <img src="../../../public/images/Vector.svg">
                        <p class="text-neutral-500"></p>
                    </div>
    
                </div>
    
            </div>
        </div>

        <div class="inline-flex items-start -mt-10 mb-9 ml-84 mr-5">
            <img src="../../../public/images/Add.svg" class="bg-twitter-blue p-4 rounded-3.2xl">
        </div>
    </div>
</body>
</html>