<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen2</title>
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 text-neutral-50 w-90">
    <div>
        <header class="flex px-3 items-center gap-5 self-stretch">
            <img src="../../../public/images/x.svg">
            <p class="text-base font-bold">Step 1 of 4</p>
        </header>
        <main>
            <p class="font-bold text-2xl ml-4">Create your account</p>
            <fieldset class="flex justify-between w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm ml-4 mt-5 border border-solid border-twitter-blue text-neutral-500 bg-neutral-1000">
                <legend class="text-twitter-blue">Name</legend>
                <input type="text" value="Anuja" class="bg-neutral-1000 outline-none text-neutral-50">
            </fieldset>

            <fieldset class="flex w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-8 ml-4 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
                <legend class="text-neutral-500">Email</legend>
                <input type="text" placeholder="Email" class="bg-neutral-1000 outline-none">
            </fieldset>

            <p class="text-neutral-50 text-base font-bold mt-8 ml-4">Date of birth</p>
            <p class="text-twitter-white-100 text-sm font-normal self-stretch ml-4">This will not be shown publicly. Confirm your own age, even if this account is for a business, a pet, or something else.</p>
            <div class="flex">
                <fieldset class="flex w-44 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-8 mx-3 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
                    <legend class="text-neutral-500">Month</legend>
                    <input type="text" class="bg-neutral-1000 outline-none w-19">
                    <img src="../../../public/images/chevron-down.svg" class="ml-auto">
                </fieldset>
                <fieldset class="flex w-20 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-8 mx-3 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
                    <legend class="text-neutral-500">Day</legend>
                    <input type="text" class="bg-neutral-1000 outline-none w-8">
                    <img src="../../../public/images/chevron-down.svg">
                </fieldset>

                <fieldset class="flex w-20 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-8 mx-3 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
                    <legend class="text-neutral-500">Year</legend>
                    <input type="text" class="bg-neutral-1000 outline-none w-8">
                    <img src="../../../public/images/chevron-down.svg">
                </fieldset>
            </div>



        </main>
        <footer>
            <button class="font-bold bg-neutral-50 text-neutral-1000 backdrop-blur-xl rounded-4xl py-2 px-6 flex justify-center mt-72 ml-6 w-85 h-10 text-base shadow-3xl hover:bg-neutral-200 disabled:bg-neutral-50 disabled:opacity-50" disabled>
                Create Account
            </button>

        </footer>
    </div>
    
</body>
</html>