<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Screen2</title>
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 text-neutral-50 w-90">
    <div>
        <header class="flex px-3 items-center gap-5 self-stretch">
            <img src="../../../public/images/x.svg">
            <p class="text-base font-bold">Step 2 of 4</p>
        </header>
        <main>
            <p class="font-bold text-2xl ml-4">Create your account</p>
            <fieldset class="flex justify-between w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-5 ml-4 border border-solid border-twitter-blue text-neutral-500 bg-neutral-1000">
                <legend class="text-twitter-blue">Name</legend>
                <input type="text" value="Anuja Agarwal" class="bg-neutral-1000 outline-none text-neutral-50">
                <img src="../../../public/images/icon.svg" class="mb-4">
            </fieldset>

            <fieldset class="flex justify-between w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-8 ml-4 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
                <legend class="text-neutral-500">Email</legend>
                <input type="text" value="anujaagarwal08@gmail.com" class="bg-neutral-1000 outline-none">
                <img src="../../../public/images/icon.svg" class="mb-4">
            </fieldset>

            <fieldset class="flex justify-between w-88 h-14 py-4 px-3 items-center gap-2.5 rounded-esm mt-8 ml-4 border border-solid border-neutral-500 text-neutral-500 bg-neutral-1000">
                <legend class="text-neutral-500">Date of birth</legend>
                <input type="text" value="23 August 1996" class="bg-neutral-1000 outline-none">
                <img src="../../../public/images/icon.svg" class="mb-4">
            </fieldset>

        </main>

        <footer>
            <button class="flex justify-center items-center bg-twitter-blue shadow-3xl rounded-4xl mt-90 ml-4 w-85 h-9 py-2 px-6 gap-2 backdrop-blur-xl text-neutral-50">
                Sign up
            </button>

        </footer>

    </div>
</body>