<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="../../../dist/output.css" rel="stylesheet">
</head>
<body class="bg-neutral-1000 text-neutral-50 w-90">
    <div>
        <p class="w-90 py-3 px-4 flex justify-center items-center font-bold">100x</p>
        <h1 class="text-3xl font-extrabold px-7 mt-60">Happening now</h1>
        <p class="text-base font-medium px-7">Join today.</p>
        <button class="gap-2 font-bold bg-neutral-50 text-neutral-1000 backdrop-blur-xl rounded-4xl py-2 px-6 self-stretch flex items-center justify-center text-center my-10 mx-7 w-72 h-10">Create Account</button>
            <div class="flex items-center w-full px-7">
                <div class="border-b w-32 border-neutral-700"></div>
                <div class="px-2 text-neutral-50">or</div>
                <div class="border-b w-32 border-neutral-700"></div>
              </div>
        <p class="h-6 w-60 text-base mt-10 font-normal px-7">Already have an account?</p>
        <button class="flex py-2 px-6 mx-7 my-5 content-center items-center gap-y-2.5 self-stretch rounded-4xl w-72 h-9 text-center text-twitter-blue backdrop-blur-xl border border-primary-border shadow-3xl justify-center gap-2">Sign up</button>


    </div>
</body>
</html>